
/* MAIN STYLES */

h2 {
  color: #f1d5a3;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 4em;
  margin-top: 0;
}

h3 {
  color: #131e2f;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 2.3em;
  margin: 0;
}

h4 {
  color: #131e2f;
  font-family: 'Caveat', cursive;
  font-size: 2.5em;
}

p {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

a.page_btn {
  background-color: #131e2f;
  color: #fff;
  display: block;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 2em;
  padding-top: 15px;
  padding-bottom: 12px;
  text-align: center;
  text-decoration: none;
  margin: 40px auto;

  box-shadow: 1px 4px 16px 8px rgba(75, 115, 152, 0.17);
}

/* END MAIN STYLES */


/* PRODUCT SECTION */

#product_section {

}

#product_section header {
  background-color: #131e2f;
  height: 100px;
  padding-left: 60px;
  padding-top: 35px;
}

.product_wrapper {
  position: relative;
  height: 850px;
}

.top_line {
  background-color: #f1d5a3;
  display: block;
  max-width: 960px;
  height: 10px;
  margin-bottom: 80px;
  margin-top: 80px;
}

.bottom_line {
  background-color: #f1d5a3;
  display: block;
  height: 10px;
  margin-top: 80px;
  position: absolute;
  bottom: 60px;
  right: 0;
  width: 1440px;
  z-index: 3;
}

.product_wrapper img {
  position: absolute;
  left: 130px;
  z-index: 1;
}

.product_title {
  width: 550px;
  position: absolute;
  right: 260px;
  z-index: 2 ;
}

.product_title p {
  color: #6f7278;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 500;
  margin-left: 5px;
  margin-top: 30px;
}

/* END PRODUCT SECTION */


/* CALCULATOR SECTION */

#calculator_section {
  background-color: #f0ebef;
  padding-top: 80px;
  padding-bottom: 70px;
  margin-bottom: 100px;
}

form {
  text-align: center;
}

.form_element {
  float: left;
}

.form_element span {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  display: block;
}

#calculator_section select {
  background-color: transparent;
  border: 5px solid #f1d5a3;
  color: #f1d5a3;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3em;
  padding-left: 15px;
  width: 130px;
  height: 60px;
  float: left;
  margin-right: 20px;
}

#calculator_section input[type=number] {
  background-color: transparent;
  border: 5px solid #f1d5a3;
  color: #f1d5a3;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3em;
  padding-left: 15px;
  width: 200px;
  height: 60px;
}

.bottom_section {
  text-align: center;
  margin-top: 30px;
}

.bottom_section .page_btn {
  font-size: 1.5em;
  width: 250px;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 12px;
}
/* END CALCULATOR SECTION */
